    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    :root{
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Lato', sans-serif;
    }
    .container {
        width: 90%;
        max-width: 1200px;
        overflow: hidden;
        margin: auto;
        padding: 60px 0;
    }

    .header {
        height: 100vh ;
        background-image: linear-gradient(to top, rgba(161, 140, 209, 0.5) 0%, hsla(218, 68%, 79%, 0.514) 100%),
        url("../img/portadaProject.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    .head {
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: #fff;
    }

    .menu {
        position: fixed;
        top: 30px;
        right: 30px;
        background: #fff;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    }

    .menu-navegation {
        position: fixed;
        top: 0;
        right: 0;
        width: 30%;
        height: 100%;
        background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: transform .3s ease-in-out;
        transform: translate(110%);
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    }

    .spread {
        transform: translate(0);
    }

    .menu-navegation a {
        color: #fff;
        text-decoration: none;
    }

    .title {
        font-size: 80px;
        margin-bottom: 25px;

    }

    .text{
        font-weight: 300;
        font-size: 19px;
    }
    .text-large {
        font-weight: 300;
        font-size: 19px;
        text-align: justify;
        line-height: 30px;
        margin: 10px;
        padding:20px;
        box-shadow: 0 0 6px rgba(0, 0, 0, .6);

    }


    /*About Me*/
    .subtitle{
        text-align: center;
        font-weight: 300;
        color: #9f8ad0;
        margin-bottom: 40px;
        font-size: 40px;
    }

    .container-aboutMe{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap ;
    }

    .container-aboutMe img {
        width: 50%;
    }

    .descriptionAboutMe{
        width: 45%;
    }

    .aboutMe{
        margin-bottom: 7px;
        color: #9f8ad0;
    }


    /*Projects*/

    .projectGallery{
        background: #f3e5e5;
    }
    .container-project{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .imgProjects{
        object-fit: cover;
        width: 40%;
        display: block;
        margin-bottom: 15px;
        box-shadow: 0 0 6px rgba(0, 0, 0, .6);
        cursor: pointer;
    }


    /*Skills*/

    .abilities{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .container-abilities{
        width: 30%;
        text-align: center;
        margin-bottom: 20px;

    }

    .container-abilities img{
        width: 30%;
        display: block;
        margin: auto;

    }


    /*Footer*/

    footer{
        background: #9f8ad0;
        padding-bottom: 0.1px;
    }

    .footer-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 40px;
        padding-bottom: 0.1px;

    }

    .contactMe{
        width: 40%;
        color: #fff;
    }

    .brand{
        font-weight: 350;
        font-size: 25px;

    }
    .brand+p{
        font-weight: 500;
    }

    .social-media{
        width: 80%;
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
        padding: 20px;

    }

    .social-media-icon{
        display: inline-block;
        margin-left: 20px;
        width: 60px;
        height: 60px;
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;
        color: #fff;

    }

    .social-media a{
        font-size: 30px;
        line-height: 60px;
    }

    .line{
        width: 90%;
        max-width: 1200px;
        height: 2px;
        background: #fff;
        margin: auto;
        margin-bottom: 60px;

    }

    .social-media-icon:hover{
        background: #fff;
        color: #764ba2;
    }

    .download-file{
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        border-radius: 6px;
        border: 1px solid #fff;
        color: rgba(255, 207, 246, 0.83);
        margin: 20px;

    }
    .download-file:hover{
        background: rgb(243, 229, 229);
        color: #764ba2;
    }



    @media screen and (max-width: 800px){
        .menu-navegation{
            width: 50vw;
        }

        .title{
            font-size: 40px;
        }

        .container-aboutMe img{
            width: 80%;
            margin-bottom: 40px;
        }

        .descriptionAboutMe{
            width: 80%;
        }

        .aboutMe{
            margin-bottom: 30px;
        }

        .imgProjects{
            width: 45%;
        }

        .container-abilities{
            width: 80%;
        }

        .footer-content{
            justify-content: center;
        }

        .social-media{
            width: 80%;
            justify-content: space-evenly;
        }

        .social-media-icon{
            margin-left: 0;
        }

        .contactMe{
            text-align: center;
            width: 80%;
            margin-bottom: 40px;
        }

    }


    @media screen and (max-width: 500px){
        .menu-navegation{
            width: 65vw;
        }

        .menu{
            top: 20px;
            right: 20px;
        }

        .title{
            font-size: 40px;
        }

        .text{
            font-size: 20px;
        }

        .subtitle{
            font-size: 30px;
        }

        .imgProjects{
            width: 95%;
        }


        .social-media{
            width: 100%;
            justify-content: space-evenly;
        }

        .social-media-icon{
            margin-left: 0;
        }

        .contactMe{
            text-align: center;
            width: 95%;
            margin-bottom: 40px;
        }


    }


