@media (max-width: 700px) {
    html {
        height: 100%;
    }

    body{
        font-family: 'Tenali Ramakrishna', sans-serif;
        font-family: 'Zilla Slab', serif;
    }
}




footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0.5em 0;
    width: 100%;
    text-align: center;
}

/*PROBLEMAS A RESOLVER:
- Cuándo creo un CSS tengo que crear de acuerdo al html que exite? es Decir si tengo un index.html también  debe existir un index.css?
- Puedo poner un estilo propio? O debo seguir la idea del trabajo propuesto?
  Tener en cuenta que entre en una pantalla revisar la parte ultima del video @media
- Cómo puedo poner las imágenes con un mismo ancho y alto?
  Mejor ponerlo en CSS
*/
